@model IEnumerable<BaseGoalPlanViewModel>

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    @TempData["ErrorMessage"]
</div>
}

<h2>Active Goal Plans</h2>

<table class="table">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Goal</th>
        <th>Created On</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var plan in Model)
    {
        <tr>
            <td>@plan.CustomerName</td>
            <td>@plan.GoalDescription</td>
            <td>@plan.CreatedOn</td>
            <td>
                <a asp-area="Trainer" asp-controller="WeeklyPlan" asp-action="Details" asp-route-goalPlanId="@plan.GoalPlanId" class="btn btn-info">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>