@model IEnumerable<WeeklyPlanViewModel>

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    @TempData["ErrorMessage"]
</div>
}

<h2>Weekly Plans</h2>
@if (!Model.Any())
{
    <p>There is no active Goal Plan yet.</p>
    <p>Make sure to check our awesome trainers!</p>
    <a asp-action="AvailableTrainers" class="btn btn-primary btn-sm">Select your trainer here!</a>   
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Week</th>
            <th>Carb</th>
            <th>Fat</th>
            <th>Protein</th>
            <th>ABW</th>
            <th>Total Daily Calories</th>
            <th>Sessions</th>
            <th>HIIT</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.WeekNumber</td>
                <td>@plan.Carbohydrates</td>
                <td>@plan.Fat</td>
                <td>@plan.Protein</td>
                <td>@plan.Weight.ToString("0.0") kg</td>
                <td>@plan.TotalDailyCalories</td>
                <td>@plan.CardioSessions x / wk (@plan.CardioType)</td>
                <td>@(plan.IsHIIT ? "Yes" : "No")</td>
                <td>
                    <a asp-action="WeeklyPlanDetails" asp-route-weeklyPlanId="@plan.WeeklyPlanId" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
