@model FitnessTrackingApp.Web.ViewModels.BodyWeight.BodyWeightDetailsViewModel

<h2>Body Weigh Index</h2>

@if (!Model.HasStatistics)
{
    <div class="alert alert-warning">
        No statistics available yet. Start by creating a goal plan or logging your body weight.
    </div>
}
else
{
    <div class="row my-3">
        <div class="col">
            <div class="card mheight-100">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">Most Recent Body Weight</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            @Model.MostRecentWeight
                        </h4>
                        <div class="card-text text-center">
                            @Model.MostRecentWeightDate.ToShortDateString()
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="card mb-2">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">This Week's Progress</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            10
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">Daily Average (This Week)</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            3
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-2">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">Current Month's Progress</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            15
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">Daily Average (This Month)</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            7
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-2">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">All Time Progress</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            23
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="card-subtitle">Weekly Average (All Time)</h6>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="card-title text-center">
                            40
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>This Week</h3>
        <canvas id="weeklyChart"></canvas>

        <h3>This Month</h3>
        <canvas id="monthlyChart"></canvas>
    </div>

    @section Scripts {
        <script src="~/lib/chart/dist/chart.umd.min.js"></script>
        <script>
        window.weeklyChartLabels = @Html.Raw(Json.Serialize(Model.WeeklyRecords.Select(r => r.DateLogged.ToShortDateString())));
        window.weeklyChartData = @Html.Raw(Json.Serialize(Model.WeeklyRecords.Select(r => r.CurrentWeight)));

        window.monthlyChartLabels = @Html.Raw(Json.Serialize(Model.MonthlyRecords.Select(r => r.DateLogged.ToShortDateString())));
        window.monthlyChartData = @Html.Raw(Json.Serialize(Model.MonthlyRecords.Select(r => r.CurrentWeight)));
        </script>
        <script src="~/js/overall-progress/overall-progress.js"></script>
    }
}

